.PopUp{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 1rem;
}

.PopUp .ExitButton {
    width: 5rem;
    height: 5rem;
}

.PopUp.enter {
    opacity: 0;
}
.PopUp.enter-active {
    opacity: 1;
    transition: opacity 500ms;
}
.PopUp.exit {
    opacity: 0;
    transition: opacity 500ms;
}