
.App {
  font-size: calc(10px + 4vmin);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  min-height: 100vh;
  min-height: 100dvh;
  background-color:white;

  position: relative;
  color: var(--ctheme-dark);
}

.App.Intro {
  /* background-color: var(--ctheme-100); */
  display: grid;
  place-items: center;
}
.App.Intro header {
  /* color: white; */
  display: flex;
  border-radius: 1rem;
  
  background-color: var(--ctheme-high);
  border: solid lightgray 2px;
  padding: 3rem;
}
.App.Intro .Logo{
  font-size: 12rem;
  padding: 0;
  margin: 0;
}
.App.Intro p{
  font-size: 3rem;
  padding: 0;
  margin: 0.5rem;
}

.Icon {
  height: calc(10px + 10vmin);
}
.RotateFlip{
  transform: rotate(180deg);
}

.App .Logo.Main {
  opacity: 0.2;
}

.App .Logo.Main.open {
  opacity: 1;
}

hr {
  width: 90%;
}
ul {
  padding: 0;
  list-style: none;
}
button, input{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem; 
  border: solid lightgray 2px;
  color: black;
  background-color: rgb(213, 232, 187);
  padding: 1rem;
  padding-block: 0.25rem;
  margin: 0.25rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  filter: brightness(0.8);
}

.Card {
  /* background-color: var(--ctheme-light); */
  border-radius: 0.45rem; 
  padding: 0.35rem;
}


.Title {
  background-color: hsl(103, 89%, 93%);
  color: hsl(103, 64%, 20%);
  padding: 0 2rem;
  display: grid;
  grid-template-areas: "logo text";
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap:1rem;
  line-height: 0.75;
  border: solid lightgray 2px;
  border-radius: 1rem;
  margin: 0.5rem;
}
.Title .Logo{
  grid-area: logo;
  display: inline-block;
  font-size: min(20vw,10rem);
  filter: drop-shadow(0 0 4px white);
}
.Title .Text {
  text-align: end;
}


.NavBar {
  position: relative;
  perspective: 400px;
}

.NavBar {
  --speed: 500ms;
}
.NavSet.enter {
  opacity: 0;
	transform: translateZ(-100px);
}
.NavSet.enter-active {
	position:absolute;
  inset: 0;
  transition: opacity var(--speed), transform var(--speed);
  opacity: 1;
	transform: translateZ(0);
}
.NavSet.exit {
  opacity: 1;
	transform: translateZ(0);
}
.NavSet.exit-active {
  transition: opacity var(--speed), transform var(--speed);
  opacity: 0;
	transform: translateZ(-100px);
}

.LiveStatus {
  display: flex;
  justify-content: center;
  align-items: center;
}


.ItemList{
  width: 100%;
}
.List{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
}
.List .ItemList {
  padding: 1rem;
  border-radius: 1rem;
}
.High.Item {
  border: solid lightgray 2px;
}

.FeedHalf .Icon {
  mask-image: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 20%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%);
}
.FeedSnack .Icon {
  mask-image: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 100%);
}

.Disarm {
  opacity: 0.4;
}



.FeedItemContent,
.EventItemContent {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}
.FeedItemContent.Preview {
  grid-template-columns: 1fr 3fr 1fr;
}

.EventBanner {
  background-color: white;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EventTimeBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: nowrap;
}
.EventTimeBanner p{
  margin: 0;
}
.EventTimeBanner .EventTime{
  font-size: 4rem;
}

.EventTimeBanner .EventDay,
.EventTimeBanner .EventTimeSub{
  font-size: 1.5rem;
  opacity: 0.4;
}

.EventTimeBanner .EventTimeDelta{
  font-size: 4rem;
}



.FeedLate * {
  /* margin: 1rem; */
  /* font-size: 3rem; */
}

.FeedLate form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:  "dt dt dt"  "F H S";
}
.FeedLate input[type='time']{
  grid-area: dt;
  font-size: 4rem;
}


.List.Monitor {
  padding: 1rem;
  border-radius: 1rem;
  background-color: hsl(54, 63%, 97%);
}
.List.Monitor button{
  background-color: hsl(58, 65%, 91%);
}
.List.Monitor .Item{
  background-color: hsl(52, 49%, 83%);
}

.List.Food {
  padding: 1rem;
  border-radius: 1rem;
  background-color: hsl(204, 83%, 98%);
}
.List.Food.List.Food button {
  background-color: hsl(240, 75%, 94%);
}
.List.Food .Item{
  background-color: hsl(223, 68%, 86%);
}