.App {
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  min-height: 100vh;
  min-height: 100dvh;
  background-color:white;
}

.App > * {
  filter: drop-shadow(0 0 10px rgb(211, 196, 179));
}


button {
  border-radius: 0.45rem; 
  border: solid darkgoldenrod 2px;
  color:darkgoldenrod;
  background-color: transparent;
  padding: 1rem;
  padding-block: 0.25rem;
  margin: 0.25rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  border-color: orange;
  background-color: orange;
  color: white;
}

.Card {
  background-color:khaki;
  border-radius: 0.45rem; 
  padding: 0.35rem;
}


.Title {
  background-color:blanchedalmond;
  padding: 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap:1rem;
  line-height: 1;
  padding-block: 0;
}
.Title .Logo{
  display: inline-block;
  font-size: 6rem;
  max-height: 6rem;
}

.Nav {
  background-color:bisque;
  text-align: center;
}



.Content {
  /* overflow-y: scroll; */
  flex-grow: 1;
}

.ContentContainer {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content min-content;
  grid-template-areas: 
    "focus focus"
    "opt opt";
}

.ContentContainer.Selected{
  grid-template-rows: 1fr 12rem;
}

ul {
  padding: 0;
}
.Option {
  list-style: none;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  user-select: none;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
}

.Option img {
  max-height: 20vmin;
}
.Option .Back{
  grid-area: back;
  padding: 0.25rem;
  padding-inline: 1rem;  
  background-color: pink;
}
.Option h2 {
  font-weight: 400;
  font-size: 1.5rem;
  grid-area: title;
}

.Option.active {
  background-color:antiquewhite;

  display: grid;
  grid-template-areas: 
    "title title"
    "content content"
    "back extra";

  /* grid-area: focus; */
}
.Option.active li {
  background-color:rgb(224, 194, 174);
  font-style: italic;
}

.Button.Refresh {
  grid-area: extra;
}
.Networks {
  grid-area: content;
  width: 100%;
}
.Networks ul {
  display: inline-block;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.Networks li {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
}
.Networks li img{
  max-height: 2rem;
}
.Networks li img.High{
  clip-path: inset(0 40% 0 0);
}
.Networks li img.Med{
  clip-path: inset(0 60% 0 0);
}
.Networks li img.Low{
  clip-path: inset(0 80% 0 0);
}
.Networks li.Loading {
  text-align: center;
  animation: kf-loading-pulse 0.3s alternate infinite;
}
@keyframes kf-loading-pulse {
  from{opacity:0.8}
  to{opacity:0.7}
}


.Events{
  display: flex;
  flex-direction: column-reverse;
  list-style: none;
}

.Event{
  background-color: antiquewhite;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
}

.Events .Event:last-child {
  margin: 2rem;
  font-weight: bold;
  background-color:bisque;
}