.App {
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  min-height: 100vh;
  min-height: 100dvh;
  background-color:white;

  --ctheme-dark: rgb(0, 0, 0);
  --ctheme: rgb(120, 189, 144);
  --ctheme-light: rgb(147, 218, 189);
  --ctheme-high: rgb(217, 255, 209);
}

.App > * {
  filter: drop-shadow(0 0 10px rgb(211, 196, 179));

}

.App .NetworkPicker {
  --theme: var(--ctheme);
  --theme-light: var(--ctheme-light);
  --theme-high: var(--ctheme-high);
  --theme-dark: var(--ctheme-dark);
}

/* hr {
  width: 90%;
} */
ul {
  padding: 0;
  list-style: none;
}
button {
  border-radius: 0.45rem; 
  border: none;
  color:var(--ctheme-dark);
  background-color: var(--ctheme);
  padding: 1rem;
  padding-block: 0.25rem;
  margin: 0.25rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  background-color: var(--ctheme-high);
  color: var(--ctheme-dark);
}

.Card {
  /* background-color: var(--ctheme-light); */
  border-radius: 0.45rem; 
  padding: 0.35rem;
}


.Title {
  background-color:rgb(4, 41, 39);
  color: white;
  padding: 0 2rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap:1rem;
  line-height: 0.75;
  padding-block: 0;
}
.Title .Logo{
  display: inline-block;
  font-size: 6rem;
  max-height: 6rem;
}


.NavBar {
  position: relative;
  perspective: 400px;
}

.NavBar {
  --speed: 500ms;
}
.NavSet.enter {
  opacity: 0;
	transform: translateZ(-100px);
}
.NavSet.enter-active {
	position:absolute;
  inset: 0;
  transition: opacity var(--speed), transform var(--speed);
  opacity: 1;
	transform: translateZ(0);
}
.NavSet.exit {
  opacity: 1;
	transform: translateZ(0);
}
.NavSet.exit-active {
  transition: opacity var(--speed), transform var(--speed);
  opacity: 0;
	transform: translateZ(-100px);
}


.Content {
  padding: 1rem;
  border-radius: 1rem;
}
.Content .NetworkPicker{
  padding: 0.25rem;
}


.Events{
  display: flex;
  flex-direction: column-reverse;
  list-style: none;
}

.Event{
  background-color: antiquewhite;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
}

.Events .Event:last-child {
  margin: 2rem;
  font-weight: bold;
  background-color:bisque;
}